<div class="row">
  <div class="col-4">
    <img #logoImage width="100%" height="auto" alt=":(">
  </div>
  <div class="col-8">
    <div *ngIf="book.rating || book.rating===0" class="row">
      <div class="col-auto">
        <div class="label">Рейтинг:</div>
      </div>
      <div class="col">
        <app-rating [rate]="book.rating" [max]="10"></app-rating>
      </div>
    </div>
    <h2>{{book.naz}}</h2>
    <div class="row">
      <div class="col-auto">
        <div class="label">Видавнитство:</div>
      </div>
      <div class="col">
        {{book.izdat}}
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <div class="label">Жанр:</div>
      </div>
      <div class="col">
        <span *ngFor="let item of book.genreList">{{item.nam}}, </span>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <div class="label">Автор:</div>
      </div>
      <div class="col">
        <span *ngFor="let item of book.authorList">{{item.nam}}, </span>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <div class="label">Теги:</div>
      </div>
      <div class="col">
        <span *ngFor="let item of book.tagList">{{item.nam}}, </span>
      </div>
    </div>
    <div class="row">      
      <div class="col text-center">
        <button *ngIf="book.file" class="btn btn-primary" (click)="download()">Завантажити</button>
      </div>
    </div>
    <div class="row" *ngIf="editable()">
      <div class="col-auto">
        <div class="label">Редагування:</div>
      </div>
      <div class="col">
        <a href="#/admin/book/{{book.id}}">
          Редагувати
        </a>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-auto">
        <div class="label">Опис:</div>
      </div>
      <div class="col text-justify">
        <p>{{book.description}}</p>
      </div>
    </div>
  </div>
</div>
<hr />
<div *ngIf="rating" class="row">
  
  <div class="col text-center">
      Ваша оцінка:<app-rating [rate]="rating.rate" [max]="10"></app-rating>
  </div>
</div>
<div *ngIf="!rating" class="row">
  <div class="col-auto">Оцінити:</div>
  <div class="col text-center">
      <app-rating [max]="10" [editable]="true" (clicked)="addRating($event)"></app-rating>
  </div>
</div>
<div class="row">
  <div class="col-auto">Коментувати:</div>
  <div class="col">
    <app-comment-editor (PublishComment)="addComment($event)"></app-comment-editor>
  </div>
  <div class="col-2"></div>
</div>
<div *ngFor="let sub of commentList">
  <app-comment [comment]="sub" (PublishComment)="addSubComment($event)"></app-comment>
</div>
<div *ngIf="commentList.length<commenttotal" class="row">
  <div class="col-5">
    <hr />
  </div>
  <div class="col text-center">
    <button class="btn btn-link" (click)="moreComments()">  <i class="fa fa-chevron-down" aria-hidden="true"></i>Завантажити<i class="fa fa-chevron-down" aria-hidden="true"></i>    </button>
  </div>
  <div class="col-5">
    <hr />
  </div>
</div>