<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
      <h1>Реєстрація:</h1>
    <div class="row">
      <div class="col-2 text-right">
        <label>Логін:</label>
      </div>
      <div class="col-8">
        <input class="form-control" type="text" [(ngModel)]="usr.username">
      </div>
    </div>
    <div class="row">
      <div class="col-2 text-right">
          <label>Пароль:</label>
      </div>
      <div class="col-8">
        <input class="form-control" type="password" [(ngModel)]="usr.password">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 text-center">
          <button class="btn btn-primary" (click)="doRegister()">Реєстрація</button>
      </div>
    </div>
  </div>
  <div class="col-3"></div>
</div>