<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <h1>Вхід:</h1>
    <div class="row">
      <div class="col-auto text-right" style="width: 120px;">
        <label>Логін:</label>
      </div>
      <div class="col">
        <input class="form-control" type="text" [(ngModel)]="usr.username">
      </div>
    </div>
    <div class="row">
      <div class="col-auto text-right" style="width: 120px;">
        <label>Пароль:</label>
      </div>
      <div class="col">
        <input class="form-control" type="password" [(ngModel)]="usr.password">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 text-center">
        <button class="btn btn-primary" (click)="doLogin()">Вхід</button>
      </div>
    </div>
    <br />
    <br />
    <br />
    <a href="#/register">
      <h2>Реєстрація</h2>
    </a>
  </div>
  <div class="col-3"></div>
</div>