<div class="card">
    <div class="card-body">
  <div class="row">
    <div class="col-auto">
      <span class="badge badge-secondary"><i class="fa fa-user" aria-hidden="true"></i> {{comment.iduser.username}}</span>
    </div>
    <div class="col">
      <span class="badge badge-secondary"><i class="fa fa-calendar"></i> {{comment.dat | date:'dd-MM-yyyy HH:mm'}}</span>
    </div>
    <div class="col-auto  text-right">
      <button class="btn btn-sm btn-dark" (click)="addSub()"><i class="fa fa-commenting" aria-hidden="true"></i></button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col message">
        <div [innerHTML]="comment.message"></div>
    </div>
  </div>
  <div class="row" *ngIf="subEditor">
    <div class="col">
        <app-comment-editor (PublishComment)="addComment($event)"></app-comment-editor>
    </div>    
  </div>
  <div *ngIf="comment.subList.length>0" class="row">
    <div class="col sub-comments">
      <div *ngFor="let sub of comment.subList">
        <app-comment [comment]="sub" (PublishComment)="addSubComment($event)"></app-comment>
      </div>
    </div>
  </div>
</div>
</div>