<div class="row">
  <div *ngIf="!book.id" class="col-12 text-center">
    <h2>Створення книги:</h2>
  </div>
  <div *ngIf="book.id" class="col-12 text-center">
    <h2>Редагування книги {{book.id}}:</h2>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-3 text-right">
    Назва:
  </div>
  <div class="col-9 text-right">
    <input type="text" class="form-control" [(ngModel)]="book.naz">
  </div>
</div>
<div class="row">
  <div class="col-3 text-right">
    Видавнитство:
  </div>
  <div class="col-9 text-right">
    <input type="text" class="form-control" [(ngModel)]="book.izdat">
  </div>
</div>
<div class="row">
  <div class="col-3 text-right">
    Опис:
  </div>
  <div class="col-9 text-right">
    <textarea class="form-control" rows="7" [(ngModel)]="book.description"></textarea>
  </div>
</div>
<div class="row">
  <div class="col-3 text-right">
    Автори:
  </div>
  <div class="col-9 text-right">
    <app-multiselect [editable]="true"  [list]="authorList" [selectedlist]="book.authorList" [labelfield]="'nam'" (dataChange)="authorselection($event)"></app-multiselect>
  </div>
</div>
<div class="row">
  <div class="col-3 text-right">
    Жанр:
  </div>
  <div class="col-9 text-right">
    <app-multiselect [editable]="true" [list]="genreList" [selectedlist]="book.genreList" [labelfield]="'nam'" (dataChange)="genreselection($event)"></app-multiselect>
  </div>
</div>
<div class="row">
  <div class="col-3 text-right">
    Теги:
  </div>
  <div class="col-9 text-right">
      <app-multiselect [editable]="true"  [list]="tagList" [selectedlist]="book.tagList" [labelfield]="'nam'" (dataChange)="tagselection($event)"></app-multiselect>
  </div>
</div>
<div *ngIf="book.id" class="row">
    <div class="col-3 text-right">
        Прикріпити зображання, файл книги:
      </div>
    <div class="col-9">
      <input type="file" (change)="uploadImage($event)" name="file" accept=".txt, .rtf, .doc, .odt, .pdf, image/*"/>
    </div>
  </div>
<hr />
<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-success" (click)="save()">Зберегти</button>
    </div>
  </div>