<div class="row">
  <div class="col-4">
    <img #logoImage width="100%" height="auto"  alt=":(">
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col">
        <app-rating [rate]="book.rating" [max]="10"></app-rating>
      </div>
      <div class="col-auto">
          <span class="badge badge-info"><i class="fa fa-download"></i> {{book.downloads}}</span>
      </div>
      <div class="col-auto">
          <span class="badge badge-secondary"><i class="fa fa-calendar"></i> {{book.dat | date:'dd-MM-yyyy HH:mm'}}</span>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#/book/{{book.id}}">
          <h2>{{book.naz}}</h2>
        </a>
      </div>    
    </div>
    <div class="row">
      <div class="col-auto">
        <div class="label">Автор:</div>
      </div>
      <div class="col">
        <span *ngFor="let item of book.authorList">{{item.nam}}, </span>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <div class="label">Жанр:</div>
      </div>
      <div class="col">
        <span *ngFor="let item of book.genreList">{{item.nam}}, </span>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <div class="label">Опис:</div>
      </div>
      <div class="col text-justify">
        <p>{{book.description}}</p>
      </div>
    </div>
  </div>
</div>