<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="header">
                <h2>Electronic Library</h2>
            </div>
        </div>
        <div class="col-auto">
            <a href="#/login">Вихід</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="footer">
                <a href="https://github.com/koss89">© Osmachko Kostya</a>
            </div>
        </div>
    </div>
</div>