<div class="row">
  <div class="col-3">
    <b>Сортування:</b>
    <div class="row">
      <label class="col-auto text-right" style="width: 70px;">Тип:</label>
      <select class="form-control col" [(ngModel)]="sort.type" (change)="filterBook()">
        <option label="Зростання" value="ASC"></option>
        <option label="Спадання" value="DESC"></option>
      </select>
    </div>
    <div class="row">
      <label class="col-auto text-right" style="width: 70px;">По:</label>
      <select class="form-control col" [(ngModel)]="sort.prop" (change)="filterBook()">
        <option label="Дата" value="dat"></option>
        <option label="Популярність" value="downloads"></option>
        <option label="Рейтинг" value="rating"></option>
        <option label="Назва" value="naz"></option>
      </select>
    </div>
    <b>Фільтр:</b>
    <div class="row">
      <label class="col-auto text-right" style="width: 70px;">Назва:</label>
      <input type="text" class="form-control col" [(ngModel)]="filter.naz">
    </div>
    <div class="row">
      <label class="col-auto text-right" style="width: 70px;">Видав.:</label>
      <input type="text" class="form-control col" [(ngModel)]="filter.izdat">
    </div>
    <div class="row">
      <label class="col-auto text-right" style="width: 70px;">Автори:</label>
      <app-multiselect class="col" [list]="authorList" [labelfield]="'nam'" (dataChange)="authorselection($event)"></app-multiselect>
    </div>
    <div class="row">
      <label class="col-auto text-right" style="width: 70px;">Жанр:</label>
      <app-multiselect class="col" [list]="genreList" [labelfield]="'nam'" (dataChange)="genreselection($event)"></app-multiselect>
    </div>
    <div class="row">
      <label class="col-auto text-right" style="width: 70px;">Теги:</label>
      <app-multiselect class="col" [list]="tagList" [labelfield]="'nam'" (dataChange)="tagselection($event)"></app-multiselect>
    </div>
    <hr />
    <div class="row">
      <div class="col-12 text-center">
        <button class="btn btn-primary" (click)="filterBook()">Фільтрувати</button>
      </div>
    </div>
    <br />
    <div class="row" *ngIf="editable()">
      <div class="col text-center">
        <a href="#/admin/book">
          Додати книгу
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col">
            <div *ngFor="let book of books">
              <app-book-item [book]="book"></app-book-item>
              <hr />
            </div>

          </div>
        </div>
        <hr />
        <ul class="nav nav-pills">
          <li class="nav-item" *ngFor="let p of pages; let i=index">
            <a class="nav-link" href="" (click)="setPage(i,$event)" [ngClass]="{'active':i==page}">{{i+1}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>