<div class="row">
    <div class="col">
        <input class="form-control" type="text" [(ngModel)]="query" tagselection (keyup)="filter()" placeholder="Пошук" />
        <div class="suggestion" *ngIf="filteredList.length > 0" (mouseleave)="close()">
            <ul *ngFor="let it of filteredList">
                <li>
                    <a (click)="doSelect(it)">{{it[labelfield]}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="editable" class="col-auto text-left">
        <button class="btn btn-success" (click)="add()">Додати</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div *ngFor="let item of selectedlist">
            <div class="selected">
                <span class="badge badge-info">
                    {{item[labelfield]}}
                    <i class="fa fa-times" aria-hidden="true" (click)="remove(item)"></i>
                </span>
            </div>
        </div>
    </div>
</div>