
.suggestion
{
z-index:500;
background: white;
border: 1px solid #80B6E1;
padding: 10px;
float:none;
width: 250px;
margin-top:5px;
position:fixed;
}

.suggestion ul
{
padding: 0;
margin: 0;
list-style-type: none;
}

.selected{
	float:left; 
	margin:2px;
	padding:2px;
}
 
.selected i{
	cursor:pointer;
	font-weight:bold;
}
