<div class="row">
  <div class="col">
      <app-ngx-editor [config]="editorConfig" [(ngModel)]="message"></app-ngx-editor> 
  </div>
</div>
<div class="row">
  <div class="col text-right">
    <button class="btn btn-primary" (click)="publish()">Додати</button>
  </div>
</div>