<div>
    <i *ngFor="let rat of rateArray" class="fa fa-star rating-star"  aria-hidden="true"></i>
    <i *ngFor="let rat of rateValArray" class="fa fa-star-o rating-star-o"  aria-hidden="true" (click)="setRate(rat)"></i>
</div>